main {
    margin: 0 auto;
    max-width: 1500px;
    text-align: left;
}

.chart-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.download-form{
    display: grid;
    grid-template-columns: 1fr;
}

.download-form button {
    border-radius: 10px;
    border: none;
    width: 20vw;
    margin: 50px auto;
    background: #4C38F2;
    padding: 17px 40px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.statistic {
    margin: 10%;
}


@media (max-width: 1000px) {
    .chart-container {
        grid-template-columns: 1fr;
    }
    .download-form button {
        font-size: 15px;
        width: 250px;
    }
}