<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plots.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common_style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <title>Plots</title>
</head>
<body>
<header>
    <div class="header-box">
        <span id="header-team-name">ALT+F4 Team</span>
        <img id="header-ico" src="../static/src/ros_atom.png" alt="the icon of the caseholder"/>
    </div>
</header>
<main>
    <div class="chart-container">
        <div class="chart">
            <canvas id="myChart"></canvas>
        </div>
        <div class="chart doughnut-chart">
            <canvas id="myChart1"></canvas>
        </div>
    </div>
</main>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

    // Гистограмма
    const barChartData = {
        labels:JSON.parse('{{ labels | tojson }}'),
        datasets: [{
            label: 'results',
            data: JSON.parse('{{ data | tojson }}'),
            hoverOffset: 4
        }]
    };

    const ctx1 = document.getElementById('myChart').getContext('2d');

    const config1 = {
        type: 'bar',
        data: barChartData,
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    };

    const config2 = {
        type: 'doughnut',
        data: barChartData,
        options: {
            responsive: true
        }
    };

    const ctx2 = document.getElementById('myChart1').getContext('2d');

    new Chart(ctx2, config2);
    new Chart(ctx1, config1);
    console.log(barChartData)
</script>
</body>
</html>
