<!DOCTYPE html>
<html>
<head>
    <title>Улучшение представлений результатов “Мой голос”</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index_style.css') }}">
</head>
<body>
<h1>Улучшение представлений результатов “Мой голос”</h1>
<main>
    <!-- Пустая строка -->

    <span class="title-upload">Демо:</span>
    <form action="/upload" method="post" enctype="multipart/form-data" class="upload-form">
        <label for="file">Загрузить файл:</label>
        <input type="file" id="file" name="file">
        <button type="submit">Получить результаты</button>
    </form>
    
</main>
</body>
<script>
async function getRandomText(){
  let res = await fetch("http://193.187.96.161:5000/get_random")
  res = await res.json()
  await console.log(res)
  document.querySelector(".text-form textarea").value = res.text
}
</script>
</html>

